.card{
    width: 300px;
    border: 2pc solid sandybrown;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px 10px rgb(180, 31, 31);
}
.card img{    border-radius: 10px;

}
button{
    background-color: aquamarine;
}
.card h3{
    width: 100px;
    border-radius: 10px;
}
body{
    max-width: 1170px;
    background-color: bisque;
    margin: 0 auto;
}
.card-contain{
    display: flex;
    gap: 50px;
    flex-wrap:wrap ;
}
.card-section{
    text-align: center;
}